{
  pageTitle: "$author"
  googleFonts: [
    'Open+Sans'
    'Nunito'
  ]
  linkedCSS: [
    "css/normalize"
    "css/pure-min"
    "css/font-awesome"
    "css/style"
    "css/prism"
    "css/codeflask"
  ]
  linkedPreloadedJS: [
    "js/jquery"
    "js/prism"
    "js/codeflask",
    "js/sly",
    "js/lz-string.min",
    "js/sha256.min"
  ]
  linkedJS: [
    "js/index"
  ]
}
